<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/css/productCreateEdit.css">
    <title>Nuevo Articulo</title>
</head>

<body>

    <%- include("../partials/header") %>

    <main>
        <section class="contenedor-formulario">
            <h1 class="titulo">NUEVO ARTICULO</h1>  
            <form action="/producto" method="post" enctype="multipart/form-data" class="formulario">
            <div class="formulario__field">
                <label for="name">Nombre del producto</label>
                <input type="text" id="name" name="name" class="formulario__texto" required>
            </div>
            <div class="formulario__field">    
                <label for="description">Descripción</label>
                <textarea id="description" name="description" class="formulario__textarea" required></textarea>
            </div>
            <div class="formulario__field">
                <label for="materials">Materiales</label>
                <textarea name="materials" id="materials" class="formulario__textarea" placeholder="Algodon, seda, spandex..." required></textarea>
            </div>
            <div class="formulario__field">
                <label for="care">Cuidados</label>
                <textarea name="care" id="care" class="formulario__textarea" placeholder="Lavar a mano, lavar con agua fria..." required></textarea>
            </div>
            <div class="formulario__field">
                <label for="category">Categoria</label>
                <select name="category" id="category">
                    <option value="new-releases">Nuevos lanzamientos</option>
                    <option value="on-sale">On sale</option>
                </select>
            </div>
            <div class="formulario__field">
                <label for="image">Imagen</label>
                <input type="file" id="image" name="image" class="formulario__imagenes" required>
            </div>
            <div class="formulario__field">
                <label for="colors">Colores</label> 
                <input type="text" id="colores" name="colors" class="formulario__texto" required placeholder="Rojo, Azul, Blanco">
            </div>
            <!-- <div class="formulario__field">
                <label for="sizes">Talles</label>
                <input type="text" id="sizes" name="sizes" class="formulario__texto" placeholder="S, M, L" required>
                
            </div> codigo anterior -->

            <!-- se podria hacer con un foreach y un array con todos los talles -->
            <article class="checkbox-flex">    
              </div><div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="XXXS" value="XXXS">
                <label class="formulario__label" for="XXXS">XXXS</label>
              </div>
              
              <div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="XXS" value="XXS">
                <label class="formulario__label" for="XXS">XXS</label>
              </div>
              
              <div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="XS" value="XS">
                <label class="formulario__label" for="XS">XS</label>
              </div>
              
              <div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="S" value="S">
                <label class="formulario__label" for="S">S</label>
              </div>
              
              <div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="M" value="M">
                <label class="formulario__label" for="M">M</label>
              </div>
              
              <div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="L" value="L">
                <label class="formulario__label" for="L">L</label>
              </div>
              
              <div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="XL" value="XL">
                <label class="formulario__label" for="XL">XL</label>
              </div>
              
              <div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="XXL" value="XXL">
                <label class="formulario__label" for="XXL">XXL</label>
              </div>
              
              <div class="formulario__field">
                <input class="formulario__checkbox" type="checkbox" name="talle" id="XXXL" value="XXXL">
                <label class="formulario__label" for="XXXL">XXXL</label>
              </div>
            </article> 
              
            <div class="formulario__field">
                <label for="price">Precio</label>
                <input type="number" id="price" name="price" class="formulario__precio" step="50" min="0" required>
            </div>
            <div class="formulario__field">
                <label for="discount">Descuento</label>
                <input type="number" id="discount" name="discount" class="formulario__precio" step="1" min="0" required>
            </div>
            <div class="formulario__field">
                <label for="stock">Stock</label>
                <input type="number" id="stock" name="stock" class="formulario__precio" step="1" min="0" required>
            </div>
                <button class="formulario__boton" type="submit">Crear</button>
            </form>
        </section>
    </main>

    <%- include("../partials/footer") %>
        
</body>

</html>
    