<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/productDetail.css" />
  <title>Producto</title>
</head>

<body>

    <%- include('../partials/header') %>
  

  <main>
    <section class="producto">
      <section class="producto__imagenes">
        <div class="columna-grande">
          <img class="imagen" src="/images/top-chaleco_thumbnail.png" alt="">
        </div>
        <div class="columna-chica">
          <div class="imagen-chica">
            <img class="imagen" src="/images/top-chaleco_imagen_1.png" alt="">
          </div>
          <div class="imagen-chica">
            <img class="imagen" src="/images/top-chaleco_imagen_2.png" alt="">
          </div>
          <div class="imagen-chica">
            <img class="imagen" src="/images/top-chaleco_imagen_1.png" alt="">
          </div>
        </div>
      </section>

      <section class="producto__informacion">
        <h2 class="info__nombre-producto">TOP CHALECO</h2>
        <p class="info__precio-actual">$45.000</p>
        <p class="info__cuotas">5 cuotas de $9000</p>
        <p class="info__precio-original">$60.000</p>
        

        <form action="/" class="info__formulario" method="post">
          <p class="formulario__opcion">Talle</p>
          
          <input class="formulario__radio" type="radio" name="talle" value="xs" id="xs">
          <label class="formulario__label" for="xs">XS</label>

          <input class="formulario__radio" type="radio" name="talle" value="s" id="s">
          <label class="formulario__label" for="s">S</label>

          <input class="formulario__radio" type="radio" name="talle" value="m" id="m">
          <label class="formulario__label" for="m">M</label>

          <input class="formulario__radio" type="radio" name="talle" value="l" id="l">
          <label class="formulario__label" for="l">L</label>

          <input class="formulario__radio" type="radio" name="talle" value="xl" id="xl">
          <label class="formulario__label" for="xl">XL</label>
          
          <p class="formulario__opcion">Color</p>
          
          <input class="formulario__radio" type="radio" name="color" value="negro" id="negro">
          <label class="formulario__label" for="negro">Negro</label>

          <input class="formulario__radio" type="radio" name="color" value="blanco" id="blanco">
          <label class="formulario__label" for="blanco">Blanco</label>

          <input class="formulario__radio" type="radio" name="color" value="rojo" id="rojo">
          <label class="formulario__label" for="rojo">Rojo</label>

          <button class="formulario__boton-carrito" type="submit" formaction="" formmethod="post">
            <i class="formulario__icono fa-solid fa-cart-shopping"></i>AGREGAR AL CARRITO
          </button>
        </form>
        
        <section class="producto__detalles">
          <h3 class="detalles__titulo">DESCRIPCIÓN</h3>
          <P class="detalles__texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error eaque suscipit esse neque ducimus quae molestiae, odio</p>
          <h3 class="detalles__titulo">MATERIALES</h3>
          <P class="detalles__texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error eaque suscipit esse neque ducimus quae molestiae, odio</p>
          <h3 class="detalles__titulo">CUIDADOS</h3>
          <P class="detalles__texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error eaque suscipit esse neque ducimus quae molestiae, odio</p>
        </section>
      </section>
    </section>

    <section class="ultimos-lanzamientos">
      <h2 class="cabecera-de-seccion">TAMBIÉN TE PUEDE GUSTAR</h2>
  
      <%- include("../partials/productSlider") %>
    </section>
    
  </main>



  <%- include("../partials/footer") %>
  
</body>

</html>
