<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- ICONOS  -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
  <!-- FUENTES DE REPUESTO -->
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/styles.css" />
  <title>D&H</title>
</head>

<body>
  <!-- instalar node modules con npm  -->
  <!-- MOBILE FIRST Y ADAPTATIVO  -->
  
  <!-- header -->
  
  
  <!-- banner de texto negro -->
 
  
  <!-- carusel de imagen con texto -->
  
  
  <!-- on sale slider -->
  <section class="on-sale">
    <h2>ON SALE</h2>

    <div class="thumbnail-slider">

      <article class="slider__articulo">

        <div class="articulo__thumbnail">
          <img class="thumbnail__imagen" src="/images/thumbnail_prenda_x.png" alt="" >
          <p class="thumbnail__descuento">%50 OFF</p>
        </div>

        <h3 class="articulo__nombre">POLERON DE LANA</h3>
        <p class="articulo__precio-actual">25.000$</p>
        <p class="articulo__precio-original">50.000$</p>

      </article>

      <article class="slider__articulo">

        <div class="articulo__thumbnail">
          <img class="thumbnail__imagen" src="/images/thumbnail_prenda_x.png" alt="" >
          <p class="thumbnail__descuento">%50 OFF</p>
        </div>

        <h3 class="articulo__nombre">POLERON DE LANA</h3>
        <p class="articulo__precio-actual">25.000$</p>
        <p class="articulo__precio-original">50.000$</p>

      </article>

      <article class="slider__articulo">

        <div class="articulo__thumbnail">
          <img class="thumbnail__imagen" src="/images/thumbnail_prenda_x.png" alt="" >
          <p class="thumbnail__descuento">%50 OFF</p>
        </div>

        <h3 class="articulo__nombre">POLERON DE LANA</h3>
        <p class="articulo__precio-actual">25.000$</p>
        <p class="articulo__precio-original">50.000$</p>

      </article>

      <article class="slider__articulo">

        <div class="articulo__thumbnail">
          <img class="thumbnail__imagen" src="/images/thumbnail_prenda_x.png" alt="" >
          <p class="thumbnail__descuento">%50 OFF</p>
        </div>

        <h3 class="articulo__nombre">POLERON DE LANA</h3>
        <p class="articulo__precio-actual">25.000$</p>
        <p class="articulo__precio-original">50.000$</p>

      </article>
      
    </div>

  </section>
  
  <!-- banner estatico -->
 
  
  <!-- ultimos lanzamiento slider -->
 
  
  <!-- subscribite a nuesto newsletter -->
  
  
  <!-- footer contacto -->
  
  
  
  <!-- :D -->
</body>

</html>
