<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- ICONOS  -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
  <script src="https://kit.fontawesome.com/a1a418fc9c.js" crossorigin="anonymous"></script>
  <!-- FUENTES  -->
  <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css" />
  <title>D&H</title>
</head>

<body>
  <!-- instalar node modules con npm  -->
  <!-- MOBILE FIRST Y ADAPTATIVO  -->
  
  <!-- header -->
  <header class="header">
    
    <img class="header-logo" src="/images/logo.png" alt="logo">
    
    <div class="header-burger">
      <i class="fas fa-bars"></i>
    </div>
    
    <div class="header-shipping"> 
     <i class="fas fa-solid fa-truck"></i> Envíos gratis 
    </div>
    
    <div class="header-paymentsafe">
      <i class="fas fa-solid fa-lock"></i> PAGO SEGURO </div>

    <div class="header-searchbar">
      <form action="/" method="GET">
          <input type="text" name="searchbar" placeholder=""> <button
              type="submit"><i class="fas fa-search"></i></button>
       </form>
    </div>
    
    <a href="" rel="login"><div class="header-login">
      <i class="fas fa-solid fa-user"></i>    
    </div></a>

    <a href="" rel="carrito"><div class="header-shoppingcart">
      <i class="fas fa-solid fa-basket-shopping"></i> <p>>></p>
    </div></a>


  </header>
  
  <!-- banner de texto negro -->
  <div class="banner"> <img src="/images/home_banner4.jpg"> </img>
  <h2>¡Descuento del 20% en toda la colección de primavera!</h2>
</div>
  
  <!-- carusel de imagen con texto -->
  
  
  <!-- on sale slider -->
  <section class="on-sale">
    <h2 class="cabecera-de-seccion">ON SALE</h2>

    <div class="thumbnail-slider--con_botones">
      <button class="thumbnail-slider__boton"><i class="fas fa-solid fa-arrow-left"></i></button>
      <div class="thumbnail-slider">
                
        <article class="slider__articulo">
          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/vestido-camisero_thumbnail.png" alt="" >
              <p class="thumbnail__descuento">%50 OFF</p>
            </div>

            <h3 class="articulo__nombre">VESTIDO CAMISERO</h3>
            <p class="articulo__precio-actual">25.000$</p>
            <p class="articulo__precio-original">50.000$</p>
          </a>
        </article>
              
        <article class="slider__articulo">

          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/vestido-largo_thumbnail.png" alt="" >
              <p class="thumbnail__descuento">%50 OFF</p>
            </div>

            <h3 class="articulo__nombre">VESTIDO LARGO</h3>
            <p class="articulo__precio-actual">25.000$</p>
            <p class="articulo__precio-original">50.000$</p>
          </a>
        </article>
              
        <article class="slider__articulo">

          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/musculosa_thumbnail.png" alt="" >
              <p class="thumbnail__descuento">%25 OFF</p>
            </div>

            <h3 class="articulo__nombre">MUSCULOSA</h3>
            <p class="articulo__precio-actual">30.000$</p>
            <p class="articulo__precio-original">40.000$</p>
          </a>
        </article>
              
        <article class="slider__articulo">

          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/top-chaleco_thumbnail.png" alt="" >
              <p class="thumbnail__descuento">%50 OFF</p>
            </div>

            <h3 class="articulo__nombre">TOP CHALECO</h3>
            <p class="articulo__precio-actual">25.000$</p>
            <p class="articulo__precio-original">50.000$</p>
          </a>
        </article>
              
        <article class="slider__articulo">
          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/vestido-largo_thumbnail.png" alt="" >
              <p class="thumbnail__descuento">%50 OFF</p>
            </div>

            <h3 class="articulo__nombre">VESTIDO LARGO</h3>
            <p class="articulo__precio-actual">25.000$</p>
            <p class="articulo__precio-original">50.000$</p>
          </a>
        </article>

        <article class="slider__articulo">
          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/musculosa_thumbnail.png" alt="" >
              <p class="thumbnail__descuento">%25 OFF</p>
            </div>

            <h3 class="articulo__nombre">MUSCULOSA</h3>
            <p class="articulo__precio-actual">30.000$</p>
            <p class="articulo__precio-original">40.000$</p>
          </a>
        </article>

        
      </div>
      <button class="thumbnail-slider__boton"><i class="fas fa-solid fa-arrow-right"></i></button>
    </div>

  </section>
  
  <!-- banner estatico -->
  
  
  <!-- ultimos lanzamiento slider -->
  <section class="ultimos-lanzamientos">
    <h2 class="cabecera-de-seccion">ULTIMOS LANZAMIENTOS</h2>

    <div class="thumbnail-slider--con_botones">
      <button class="thumbnail-slider__boton"><i class="fas fa-solid fa-arrow-left"></i></button>
      <div class="thumbnail-slider">
                
        <article class="slider__articulo">
          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/vestido-camisero_thumbnail.png" alt="" >

            </div>

            <h3 class="articulo__nombre">VESTIDO CAMISERO</h3>
            <p class="articulo__precio-actual">25.000$</p>
        
          </a>
        </article>
              
        <article class="slider__articulo">

          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/vestido-largo_thumbnail.png" alt="" >

            </div>

            <h3 class="articulo__nombre">VESTIDO LARGO</h3>
            <p class="articulo__precio-actual">25.000$</p>
        
          </a>
        </article>
              
        <article class="slider__articulo">

          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/musculosa_thumbnail.png" alt="" >

            </div>

            <h3 class="articulo__nombre">MUSCULOSA</h3>
            <p class="articulo__precio-actual">30.000$</p>
        
          </a>
        </article>
              
        <article class="slider__articulo">

          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/top-chaleco_thumbnail.png" alt="" >

            </div>

            <h3 class="articulo__nombre">TOP CHALECO</h3>
            <p class="articulo__precio-actual">25.000$</p>
        
          </a>
        </article>
              
        <article class="slider__articulo">
          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/vestido-largo_thumbnail.png" alt="" >

            </div>

            <h3 class="articulo__nombre">VESTIDO LARGO</h3>
            <p class="articulo__precio-actual">25.000$</p>
        
          </a>
        </article>

        <article class="slider__articulo">
          <a href="/producto" class="articulo__link">
            <div class="articulo__thumbnail">
              <img class="thumbnail__imagen" src="/images/musculosa_thumbnail.png" alt="" >

            </div>

            <h3 class="articulo__nombre">MUSCULOSA</h3>
            <p class="articulo__precio-actual">30.000$</p>
        
          </a>
        </article>

        
      </div>
      <button class="thumbnail-slider__boton"><i class="fas fa-solid fa-arrow-right"></i></button>
    </div>
  </section>
  
  <!-- subscribite a nuesto newsletter -->
  
  


  <footer class="footer">
    <h2 class="footer__titulo">CONTACTANOS</h2>
    <a class="footer__mail" href="mailto:correo@gmail.com">dhropacontacto@gmail.com</a>
    <p class="footer__direccion">Direccion 123, Buenos Aires, ARG</p>

    <div class="footer__redes">
      <a href="https://www.facebook.com/" class="footer__link">
        <i class="footer__icono fa-brands fa-facebook-f"></i>
        <p class="footer__nombre-redes">FACEBOOK</p>
      </a>
      <a href="https://www.instagram.com/" class="footer__link">
        <i class="footer__icono fa-brands fa-instagram"></i>
        <p class="footer__nombre-redes">INSTAGRAM</p>
      </a>
      <a href="https://www.whatsapp.com/" class="footer__link">
        <i class="footer__icono fa-brands fa-whatsapp"></i>
        <p class="footer__nombre-redes">WHATSAPP</p>
      </a>
    </div>

    <p class="footer__copyright">Copytright 2024</p>
  </footer>
  
  <!-- :D -->
  
</body>

</html>
