<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- ICONOS  -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
  <script src="https://kit.fontawesome.com/a1a418fc9c.js" crossorigin="anonymous"></script>

  <!-- FUENTES  -->
  <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/login-reg-styles.css" />
  <title>D&H - Inicia sesión</title>
</head>

<body>
  <!-- instalar node modules con npm  -->
  <!-- MOBILE FIRST Y ADAPTATIVO  -->
  
    <!-- header -->
    <header class="header">
    
      <div class="header-logo">
        <a href="/"><img src="/images/logo.png" alt="logo"></a>
      </div>  
      
      <div class="header-burger">
        <i class="fas fa-bars"></i>
      </div>
      
      <div class="header-shipping"> 
       <i class="fas fa-solid fa-truck"></i> Envíos gratis 
      </div>
      
      <div class="header-paymentsafe">
        <i class="fas fa-solid fa-lock"></i> PAGO SEGURO 
      </div>
  
      <div class="header-searchbar">
        <form action="/" method="GET" class="header-searchbar-form">
            <input type="text" name="searchbar" placeholder="Buscar..."> 
            <button type="submit"><i class="fas fa-solid fa-magnifying-glass"></i></button>
         </form>
      </div>
      
      <div class="header-login">
            <a href="/login" rel="login">
           <i class="fas fa-solid fa-user"></i>    
          </a>
      </div>
  
      <a href="" rel="carrito">
        <div class="header-shoppingcart">
          <i class="fas fa-solid fa-basket-shopping"></i> <p>>></p>
        </div>
      </a>
  
  
    </header>
  
  
  
  <!-- :D -->
</body>

<main>
<!-- formulario login -->
  <section class="login-form-section">
    <h1 id="registrarse-text">Acceder</h1>

    <form action="/login" method="POST">
        <div class="login-form">
            <input type="text" name="username" placeholder="Nombre de usuario" required>
            <input type="password" name="passwordlogin" placeholder="Contraseña" required minlength="10">
            <a href=""><button type="menu">Acceder con tu cuenta <i class="fas fa-sign-in-alt"></i></button></a>
        </div>


    </form>
  </section>

</main>

<!-- footer -->

<footer class="footer">
  <h2 class="footer__titulo">CONTACTANOS</h2>
  <a class="footer__mail" href="mailto:correo@gmail.com">dhropacontacto@gmail.com</a>
  <p class="footer__direccion">Direccion 123, Buenos Aires, ARG</p>

  <div class="footer__redes">
    <a href="https://www.facebook.com/" class="footer__link">
      <i class="footer__icono fa-brands fa-facebook-f"></i>
      <p class="footer__nombre-redes">FACEBOOK</p>
    </a>
    <a href="https://www.instagram.com/" class="footer__link">
      <i class="footer__icono fa-brands fa-instagram"></i>
      <p class="footer__nombre-redes">INSTAGRAM</p>
    </a>
    <a href="https://www.whatsapp.com/" class="footer__link">
      <i class="footer__icono fa-brands fa-whatsapp"></i>
      <p class="footer__nombre-redes">WHATSAPP</p>
    </a>
  </div>

  <p class="footer__copyright">Copytright 2024</p>
</footer>


</html>
