<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- ICONOS  -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
  <!-- FUENTES  -->
  <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css" />
  <title>D&H - Inicia sesión</title>
</head>

<body>
  <!-- instalar node modules con npm  -->
  <!-- MOBILE FIRST Y ADAPTATIVO  -->
  
  <!-- header -->
  <header class="header">
    <div class="header-logo">
      <img src="/images/logo.png" alt="logo">
    </div>
    <div class="header-shipping">
     <i class="fas fa-solid fa-truck"></i> Envíos gratis 
    </div>
    <div class="header-paymentsafe">
      <i class="fas fa-solid fa-lock"></i> PAGO SEGURO
    </div>
    <div class="header-keep-buying"> <a href="">
      CONTINUA COMPRANDO >>
    </a></div>
  </header>
  
  
  
  <!-- :D -->
</body>

<main>
<!-- formulario login -->
  <section class="login-form">
    <form action="/login" method="get">

      <label for="gi"></label>
      

    </form>
  </section>

</main>

</html>
