<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- ICONOS  -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet">
  <script src="https://kit.fontawesome.com/a1a418fc9c.js" crossorigin="anonymous"></script>
  <!-- FUENTES  -->
  <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- ESTILOS -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/producto.css" />
  <title>Producto</title>
</head>

<body>
  <!-- header -->
  <header class="header">
    <div class="header-logo"><img src="/images/logo.png" alt="logo"></div>
    <div class="header-shipping">
     <iclass="fa-solid fa-truck">i> Envíos gratis </div>
    <div class="header-paymentsafe"><i class="fa-solid fa-lock"></i> PAGO SEGURO</div>
  </header>
  

  <main>
    <!-- imagenes de producto   -->

    <!-- TODO: hacer que las imagenes vayan al lado de la informacion del producto en resoluciones tablet para arriba -->
    <!-- informacion del producto -->
    <section class="informacion-de-producto">
      <h2 class="info__nombre-producto">TOP CHALECO</h2>
      <p class="info__precio-actual">$45.000</p>
      <p class="info__cuotas">5 cuotas de $9000</p>
      <p class="info__precio-original">$60.000</p>
      

      <form action="/" class="info__formulario" method="post">
        <p class="formulario__opcion">Talle</p>
        <label class="formulario__label" for="xs">XS</label>
        <input class="formulario__radio--talle" type="radio" name="talle" value="xs" id="xs">
        <span class="formulario__curtom-radio"></span>
        

        <button class="formulario__boton-carrito" type="submit" >
          <i class="formulario__icono fa-solid fa-cart-shopping"></i>AGREGAR AL CARRITO
        </button>
      </form>
    </section>

    <!-- detalles adicionales del producto -->


    <!-- productos recomendados -->
  </main>

  <!-- footer -->
  <footer class="footer">
    <h2 class="footer__titulo">CONTACTANOS</h2>
    <a class="footer__mail" href="mailto:correo@gmail.com">dhropacontacto@gmail.com</a>
    <p class="footer__direccion">Direccion 123, Buenos Aires, ARG</p>

    <div class="footer__redes">
      <a href="https://www.facebook.com/" class="footer__link">
        <i class="footer__icono fa-brands fa-facebook-f"></i>
        <p class="footer__nombre-redes">FACEBOOK</p>
      </a>
      <a href="https://www.instagram.com/" class="footer__link">
        <i class="footer__icono fa-brands fa-instagram"></i>
        <p class="footer__nombre-redes">INSTAGRAM</p>
      </a>
      <a href="https://www.whatsapp.com/" class="footer__link">
        <i class="footer__icono fa-brands fa-whatsapp"></i>
        <p class="footer__nombre-redes">WHATSAPP</p>
      </a>
    </div>

    <p class="footer__copyright">Copytright 2024</p>
  </footer>
  
  <!-- :D -->
  
</body>

</html>
