<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- ICONOS  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/a1a418fc9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/registro.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>registro</title>
</head>

<body>
    <header class="header">
    
      <div class="header-logo">
        <a href="/"><img src="/images/logo.png" alt="logo"></a>
      </div>  
      
      <div class="header-burger">
        <i class="fas fa-bars"></i>
      </div>
      
      <div class="header-shipping"> 
       <i class="fas fa-solid fa-truck"></i> Envíos gratis 
      </div>
      
      <div class="header-paymentsafe">
        <i class="fas fa-solid fa-lock"></i> PAGO SEGURO 
      </div>
  
    </header>

    <div class="container_form">
        <h1 class="title">REGÍSTRATE</h1>
        <form>
            <div class="form_field">
                <label for="name">Nombre</label>
                <input type="text" />
            </div>
            <div class="form_field">
                <label for="lastname">Apellidos</label>
                <input type="text" />
            </div>
            <div class="form_field">
                <label for="email">Email</label>
                <input type="email" />
            </div>
            <div class="form_field">
                <label for="password">Contraseña</label>
                <input type="password" />
            </div>
            <div class="form_field">
                <label for="confirm-password">Confirmar contraseña</label>
                <input type="password" />
            </div>
            <div class="condiciones">
                    <label for="checkbox1">
                        <input type="checkbox" >
                        <p>
                            Acepto los terminos y condiciones 
                        </p>
                    </label>

                    <label for="checkbox2">
                        <input type="checkbox" >
                        <p>
                        Quiero recibir comunicaciones comerciales de D&H
                    </p>
                    </label>
            </div>
            <button>
                Continuar
            </button>
        </form>
        <div>
            <p>
                ¿Ya tienes una cuenta?
                <a href="/login">ingresa aquí</a>
            </p>
        </div>
    </div>

</body>

</html>