.header-return{
  color: #1f2f23;
  font-size: 1.25em;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  border-radius: 50%;
  padding: 10px;
  margin-right: 4vw;
  display:none;
  height:50px;
  
}
.header-return p{
  font-size: 0.75em;
  text-decoration: none;
  text-align: center;
  margin: 0 0 0 5px;
}
.header a {
  text-decoration: none;
}


.title {
  font-family: "Sulphur Point";
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 80px;
  padding-top: 20px;
}

.error-message {
  border: var(--color-rojo) solid 1px;
  border-radius: 10px;
  padding: 20px;
  color: var(--color-rojo);
  font-weight: bold;
  margin:3px;
}

.container_form {
  display: flex;
  justify-content: center;
  align-items: center;   
  flex-direction: column;
  padding-top: 110px;
  min-height: 90vh;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.form_field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.form-register{
  text-align: center;
}

input {
  outline: none;
  border: none;
  margin: 5px;
  border-bottom: 1px solid black;
}

.condiciones {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.condiciones type {
  float: left;
  margin-right: 10px;
}

.condiciones label {
  font-size: 10px ;
  display: flex;
  align-items: center;
}

.condiciones label>p{
  margin: 0;
  text-align: center;
  margin-top: 2px;
}

button {
  border: none;
  color: black ;
  background-color:white;
}

.container_form button {
  color:white; 
  padding: 10px 20px;
  background-color:black;
  font-size: 30px;
  margin-top: 44px;
  cursor: pointer; 
  min-width: 200px;
  border-radius: 8px;
  border-width: 1px;

}

.button-login-reg{
  width: 10vw;
  align-self: center
}

.container_form p {
  margin-top: 20px;
}

.container_form a {
    color:#515c41;
}



.validation {
  color: var(--color-rojo);
  display: none;
}



.button {
  outline: none;
  border: none;
  background-color: var(--color-negro);
  font-family: "Sulphur Point", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px;
  display: block;
  margin: 10px;
  transition: all 500ms;
}
.button:hover {
  background-color: var(--color-crema-claro);
  color: var(--color-negro);
  text-decoration: underline;
}


@media (min-width: 768px){
  .header-return {
    display: flex;
  }
}
