
.title {
  font-family: "Sulphur Point";
  text-align: center;
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 80px;
  padding-top: 20px;
}

.container_form {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    padding-top: 110px;
    min-height: 90vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.form_field {
    display: flex;
    flex-direction: column;
}

.form-register{
  text-align: center;
}

input {
    outline: none;
    border: none;
    margin: 5px;
    border-bottom: 1px solid black;
}

.condiciones {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.condiciones type {
    float: left;
    margin-right: 10px;
}

.condiciones label {
    font-size: 10px ;
    display: flex;
    align-items: center;
}

.condiciones label>p{
    margin: 0;
    text-align: center;
    margin-top: 2px;
}

button {
    border: none;
    color: black ;
    background-color:white;
 }

.container_form button {
    color:white; 
    padding: 10px 20px;
    background-color:black;
    font-size: 30px;
    margin-top: 44px;
    cursor: pointer; 
    min-width: 200px;
    border-radius: 8px;
    border-width: 1px;

  }

  .button-login-reg{
    width: 10vw;
    align-self: center
  }

  .container_form p {
    margin-top: 20px;
  }

.container_form a {
    color:#515c41;
}



