.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    padding-top: 110px;
    min-height: 90vh;
}
.titulo {
    font-family: "Sulphur Point";
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 80px;
    padding-top: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}
.formulario__field {
    display: flex;
    flex-direction: column;
    position: relative;
}
.formulario__texto {
    outline: none;
    border: none;
    margin: 5px;
    border-bottom: 1px solid black;
}
.formulario__textarea {
    outline: none;
    margin: 5px;
    border-bottom: 1px solid black;
    height: 80px;
    padding: 10px;
}
.formulario__imagenes {
    outline: none;
    border: none;
    margin: 5px;
}
.formulario__select {
    outline: none;
    margin: 5px;
    border-bottom: 1px solid black;
    height: 40px;
}
.formulario__label {
    margin-top: 10px;
}
.contenedor-opciones {
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-auto-flow: column;
}
.checkbox-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-auto-flow: row;
    justify-content: space-around;
}
.formulario__checkbox {
    display: none;
}
.formulario__checkbox + label::before {
    content: '....';
    color: transparent;
    border: 4px solid var(--color-celeste-claro);
    border-radius: 50%;
    margin: 0 0.5em;
    font-size: 0.5em;
    position: relative;
    bottom: 3px;
}
.formulario__checkbox:checked + label::before {
    background-color: var(--color-celeste-claro);
}
.formulario__precio {
    height: 30px;
    width: 200px;
    padding: 10px;
}
.formulario__boton {
    color:white; 
    padding: 10px 20px;
    background-color: black;
    font-size: 30px;
    margin-top: 44px;
    cursor: pointer; 
    min-width: 200px;
    border-radius: 8px;
    border-width: 1px;
    border: none;
    width: 10vw;
    align-self: center;
    transition: all 450ms;
    text-decoration: none;
}
.formulario__boton:hover {
    background-color: var(--color-crema-oscuro);
    color: var(--color-negro);
}

.error-message {
    border: var(--color-rojo) solid 1px;
    border-radius: 10px;
    padding: 20px;
    color: var(--color-rojo);
    font-weight: bold;
    margin:3px;
  }

.validation {
    color: var(--color-rojo);
    display: none;
}

@media (min-width: 1200px){
    .formulario{
        width: 60%;
        gap: 50px;
    }
}