.producto {
    display: block;
    padding-top: 100px;
}
.producto__imagenes {
    flex-basis: 100%;
    display: flex;
}
.columna-grande {
    flex-grow: 2;
}
.columna-chica {
    flex-grow: 1;
    flex-direction: column;
    display: none;
    transition: all 400ms;
}
.columna-chica:hover {
    flex-grow: 3;
    transition: all 400ms;
}
.columna-chica:active{
    flex-grow: 1;
}
.imagen-chica {
    height: 33.33%;
}
.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.producto__informacion {
    margin-left: 20px;
    margin-right: 20px;
}
.info__nombre-producto {
    font-family: "Sulphur Point", sans-serif;
    font-size: 1.9em;
    margin-top: 30px;
}
.info__cuotas {
    font-size: 1em;
    color: var(--color-celeste-oscuro);
    display: inline;
}
.info__precio-actual {
    font-size: 1.7em;
    font-weight: bold;
    color: var(--color-rojo);
    display: inline;
    font-family: "Sulphur Point", sans-serif;
    margin-right: 5px;
}
.info__precio-original {
    font-size: 1.1em;
    font-family: "Sulphur Point", sans-serif;
    text-decoration: line-through;
    color: var(--color-gris);
}
.info__formulario {
    margin: 15px 0;
    width: 100%;
}
.formulario__opcion {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.formulario__label {
    text-transform: uppercase;
}
.radio-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.formulario__radio {
    display: none;
}
.formulario__radio + label::before {
    content: '....';
    color: transparent;
    border: 4px solid var(--color-celeste-claro);
    border-radius: 50%;
    margin: 0.5em;
    font-size: 1em;
}
.formulario__radio:checked + label::before {
    background-color: var(--color-celeste-claro);
}
.formulario__botones {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 30px;
}
.formulario__boton {
    outline: none;
    border: none;
    background-color: var(--color-negro);
    font-family: "Sulphur Point", sans-serif;
    font-size: 1em;
    color: white;
    border-radius: 8px;
    padding: 10px;
    display: block;
    margin: 10px;
    transition: all 500ms;
}
.--admin {
    background-color: var(--color-celeste-oscuro);
}
.formulario__boton:hover {
    background-color: var(--color-crema-claro);
    color: var(--color-negro);
    text-decoration: underline;
}
.formulario__icono {
    color: white;
    margin-right: 6px;
    font-size: 0.9em;
}
.formulario__boton:hover  > .formulario__icono{
    color: var(--color-negro);
}



.producto__detalles {
    background-color: var(--color-crema-claro);
    padding: 20px;
    width: 100%;
}
.detalles__titulo {
    font-family: "Sulphur Point", sans-serif;
    font-weight: bold;
    display: inline;
    font-size: 1.3em;
}
.detalles__texto {
    margin-bottom: 22px;
}




@media (min-width: 768px) {
    .columna-chica {
        display: block;
    }
    .producto__imagenes {
        height: 80vh;
        min-height: 750px;
    }
}
@media (min-width: 1200px){
    .producto {
        display: flex;
    }
    .producto__informacion {
        width: 50%;
        margin-left: 20px;
        margin-right: 20px;
    }
}