.product-list {
    margin-top: 100px;
    padding: 10px;
}
.product {
  border: 1px solid var(--color-celeste-claro);
  border-radius: 5px;
  min-height: 160px;
  display: flex;
  margin-bottom: 20px;
}
.image-container {
  width: 100px;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-details {
  margin-left: 15px;
}
.product-details__nombre {
  font-family: "Sulphur Point";
  font-weight: bold;
  margin-top: 10px;
}
.product-details__precio {
  font-family: "Sulphur Point";
  font-weight: bold;
  font-size: 1.2em;
}
.product-details__info {
  font-family: "Sulphur Point";
}
