:root {
    /*usar siempre variables para asignar colores a elementos*/
    --color-gris: #42312f;
    --color-negro: #261e1d;
    --color-verde-oscuro: #1f2f23;
    --color-verde-claro: #515c41;
    --color-rojo: rgb(180, 20, 20);
    --color-celeste-oscuro: #9caca2;
    --color-celeste-claro: #a3bbbc;
    --color-marron-claro: #c7a88c; 
    --color-crema-oscuro: #e2ccb8;
    --color-crema-claro: #f4e5d9;
    --color-blanco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* fuente de repuesto */
    font-family: Helvetica, sans-serif;
    color: var(--color-negro);
  }
  


  
/* usar BEM para nombrar clases */
/* header */

.header{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
  }
  
  .header-logo{
    margin:0 10px 0 5px;
  }
  
  .header-shipping{
    font-size: 1em;
    text-align: center;
    padding: 10px;
    border: 1px solid #515c41;
    color: #515c41;
    border-radius: 50px;
    margin:5px;
    margin-right:auto;
    }
  
  .header-shipping i{
    color: #515c41;
  } 
  
  
  .header-paymentsafe{
    font-size: 1em;
    text-align: center;
    padding: 10px;
    border: 1px solid #c7a88c;
    color: #c7a88c;
    border-radius: 50px;
    margin:5px;
    margin-left:auto;
    }
  
  .header-paymentsafe i{
    color: #c7a88c;
   }
  
   .header-keep-buying{
      color:#c7a88c;
      padding: 10px;
      margin: 5px;
   }
  
   .header-keep-buying a{
    text-decoration: none;
    color:#c7a88c;
  
   }

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    margin: 25px;
    display: block;
    width: 65%;
    height: 35px;
    font-family: "roboto";
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: none;
    padding: 10px;
}

.login-form a {
    width: 100%;
    text-align: center;
}

.login-form button {
    margin: 25px;
    width: 65%;
    color: #ebebeb;
    background-color: #1259c3;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    border-radius: 5px;
    transition: all 200ms;
    cursor: pointer;
}


.login-form button:hover {
    background-color: #042e6d;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
}

#login-title {
    color: #666;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    text-align: center;
    border-bottom: #666 1px solid;
}
/* footer contacto */
.footer {
    background-color: var(--color-verde-claro);
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer__titulo {
    color: var(--color-blanco);
    font-family: "Sulphur Point";
    font-size: 2em;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .footer__mail {
    color: var(--color-blanco);
    margin-bottom: 5px;
  }
  .footer__direccion {
    color: var(--color-blanco);
  }
  .footer__redes {
    display: flex;
  }
  .footer__link {
    background-color: var(--color-verde-oscuro);
    min-width: 60px;
    min-height: 60px;
    font-weight: bold;
    border-radius: 100%;
    margin: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .footer__link:hover{
    background-color: var(--color-blanco);
  }
  .footer__link:hover > .footer__icono{
    color: var(--color-verde-oscuro);
  }
  .footer__icono {
    font-size: 2em;
    color: var(--color-crema-claro);
  }
  .footer__nombre-redes{
    display: none;
    color: var(--color-crema-claro);
    margin-left: 10px;
    font-size: 1.2em;
  }
  .footer__link:hover > .footer__nombre-redes{
    color: var(--color-verde-oscuro);
  }
  .footer__copyright {
    font-size: 0.8em;
  }
  
  
  /* MEDIA QUERIES */

  @media (min-width: 768px){           /* TABLET */
    
  }
  @media (min-width: 1200px){         /* DESKTOP */
    
  }   