:root {
  /*usar siempre variables para asignar colores a elementos*/
  --color-gris: #42312f;
  --color-negro: #261e1d;
  --color-verde-oscuro: #1f2f23;
  --color-verde-claro: #515c41;
  --color-rojo: rgb(180, 20, 20);
  --color-celeste-oscuro: #9caca2;
  --color-celeste-claro: #a3bbbc;
  --color-marron-claro: #c7a88c; 
  --color-crema-oscuro: #e2ccb8;
  --color-crema-claro: #f4e5d9;
  --color-blanco: #ffffff;
}
@font-face {
  font-family: Vonique;
  src: url("/fonts/vonique.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* fuente de repuesto */
  font-family: Helvetica, sans-serif;
  color: var(--color-negro);
}


/* usar BEM para nombrar clases */
/* mantener clases ordenadas segn aparecen en la pagna*/

/* header */

.header{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}

.header-logo{
  flex-grow: 0.2;
}

.header-shipping{
  font-size: 1em;
  padding: 10px;
  border: 1px solid #515c41;
  color: #515c41;
  border-radius: 50px;
  margin:15px;
}

.header-shipping i{
  color: #515c41;
} 

.header-paymentsafe{
  font-size: 1em;
  padding: 10px;
  border: 1px solid #c7a88c;
  color: #c7a88c;
  border-radius: 50px;
  margin:15px;
}

.header-paymentsafe i{
  color: #c7a88c;
 }

 /* banner de texto negro */
 


/* carusel de imagen con texto */
  


/* on sale slider */

.cabecera-de-seccion {
  font-family: Vonique;
  font-weight: bolder;
  text-align: center;
  margin: 40px 0 10px 0;
  color: var(--color-verde-oscuro)
}
.thumbnail-slider {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
}
.slider__articulo {
  min-width: 30%;
  margin: 0 1.6%;
}
.articulo__thumbnail {
  position: relative;
}
.thumbnail__imagen {
  width: 100%;
}
.thumbnail__descuento {
  font-size: 1.2em;
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-family: "Vonique";
  font-weight: bolder;
  color: var(--color-rojo);
}
.articulo__nombre {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--color-verde-claro);
  margin-bottom: 10px;
}
.articulo__precio-actual {
  font-size: 1.2rem;
  /* display: inline; */
  font-weight: bold;
}
.articulo__precio-original {
  font-size: 0.9rem;
  text-decoration: line-through;
  /* display: inline; */
  color: var(--color-celeste-oscuro);
}


/* banner estatico */
 


/* ultimos lanzamiento slider */
 


/* newsletter */
.newsletter {
  background-color: var(--color-celeste-claro);
  text-align: center;
  padding: 20px 10%;
}
.newsletter__titulo {
  color: var(--color-blanco);
  font-family: "Sulphur Point";
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 10px;
}
.newsletter__texto {
  color: var(--color-blanco);
}
.newsletter__email {
  width: 80%;
  height: 40px;
  margin: 10px 0;
  border: none;
  padding: 10px;
  color: var(--color-gris);
  max-width: 70%;
}
.newsletter__boton-enviar {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  border: none;
  background-color: var(--color-blanco);
}

/* footer contacto */



/* MEDIA QUERIES */
/* seguir manteniendo en orden */
@media (min-width: 768px){           /* TABLET */
  .cabecera-de-seccion {
    font-size: 2.2em;
  }
  .slider__articulo {
    min-width: 23%;
    margin: 0 1%;
  }
  .thumbnail__descuento{
    font-size: 1.6em;
  }
}
@media (min-width: 1200px){         /* DESKTOP */
  /* TODO: anadir funcionalidad para carrousel en desktop con js */
}   