:root {
  /*usar siempre variables para asignar colores a elementos*/
  --color-gris: #42312f;
  --color-negro: #261e1d;
  --color-verde-oscuro: #1f2f23;
  --color-verde-claro: #515c41;
  --color-rojo: rgb(180, 20, 20);
  --color-celeste-oscuro: #9caca2;
  --color-celeste-claro: #a3bbbc;
  --color-marron-claro: #c7a88c; 
  --color-crema-oscuro: #e2ccb8;
  --color-crema-claro: #f4e5d9;
  --color-blanco: #ffffff;
}
@font-face {
  font-family: Vonique;
  src: url("/fonts/vonique.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* fuente de repuesto */
  font-family: Helvetica, sans-serif;
  color: var(--color-negro);
}


/* usar BEM para nombrar clases */
/* mantener clases ordenadas segn aparecen en la pagna*/

/* header */

.header{
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.header-logo{
  margin: 10px 0 5px;
  width:45%;
  max-width: 200px;
}



.header-burger{
  margin:20px;
  background-color: #261e1d;
  border-radius: 5px;
  padding: 10px; 
  margin-left: auto;
  
}

.header-burger i{
  color:#ffffff;
  font-size: 1.5em;
}

.header-shipping {
  font-size: 0.75em;
  text-align: center;
  padding: 10px;
  border: 1px solid #515c41;
  color: #515c41;
  border-radius: 50px;
  margin:5px;
  display: none;
  min-width: 112px;
  }

.header-shipping i{
  color: #515c41;
  padding-right: 5px;
} 

.header-paymentsafe{
  font-size: 0.75em;
  text-align: center;
  padding: 10px;
  border: 1px solid #42312f;
  color: #42312f;
  border-radius: 50px;
  margin:5px;
  display: none;
  margin-right:auto;
  min-width: 127px;
  }

.header-paymentsafe i{
  color: #42312f;
  padding-right: 5px;
 }

.header-searchbar{
    margin-top: 10px;
    width: 50%;
    display:none;
}

.header-searchbar input {
  width: 70%;
  height: 35px;
  border-radius: 4px;
  border-color: #42312f;
  border-style: none;
  padding: 10px;
}


.header-searchbar input:focus{
  border-color: #42312f;
}

.header-searchbar i {
  background-color: #FFF;
  padding: 2px 1px;
  border-radius: 2px;
}

.header-searchbar button {
  background-color: #FFF;
  color: #666;
  height: 25px;
  border-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: solid #42312f 1px;
  padding-left: 5px;
  position: relative;
  cursor: pointer;
}

 .header a{
  text-decoration: none;
 }

 .header-login{
  color: #1f2f23;
  font-size: 1.25em;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  border-radius: 50%;
  border:1px solid #42312f;
  padding: 10px;
  margin: 20px;
  display:none;
  margin-left:auto;
 }

 .header-shoppingcart{
  color: #1f2f23;
  font-size: 1.25em;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px 0 0;
  display:none;
  height:50px;
  /* margin-left:auto; */
 }

 .header-shoppingcart p{
  font-size: 0.75em;
  text-decoration: none;
  text-align: center;
  margin: 0 0 0 3px;
 }
 
 /* banner de texto negro */
 .banner {
width: 100%;
text-align: center;
margin-bottom: 20px;
background-image: url("\images\home_banner4.jpg")
}

.h2.banner {
  color: #1f2f23;
  font-size: 1.25em;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px 0 0;
  display:none;
  height:50px;  
}
.h2.banner{
font-family: "Sulphur Point", sans-serif;
font-weight: bold;
display: inline;
font-size: 1.3em;
}

.banner img{
width: 100%;
object-fit: cover;
}

/* carusel de imagen con texto */
  


/* on sale slider */

.cabecera-de-seccion {
  font-family: "Sulphur Point";
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  margin: 40px 0 10px 0;
  color: var(--color-verde-oscuro)
}
.thumbnail-slider--con_botones {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  width: 98%;
}
.thumbnail-slider__boton {
  display: none;
  font-size: 2.3em;
  margin: 0 5px;
  padding: 0 8px;
  border: 2px solid var(--color-celeste-oscuro);
  background: none;
  outline: inherit;
}
.thumbnail-slider {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
}
.slider__articulo {
  min-width: 30%;
  margin: 0 1.6%;
}
.articulo__thumbnail {
  position: relative;
}
.thumbnail__imagen {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.thumbnail__descuento {
  font-size: 1em;
  position: absolute;
  bottom: 10px;
  left: 6px;
  font-family: "Sulphur Point";
  font-weight: bold;
  color: var(--color-rojo);
  background-color: var(--color-blanco);
  padding: 0 3px;
}
.articulo__link {
  text-decoration: none;
}
.articulo__nombre {
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Sulphur Point";
  color: var(--color-verde-claro);
  margin-bottom: 10px;
}
.articulo__precio-actual {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Sulphur Point";
}
.articulo__precio-original {
  font-size: 0.9rem;
  font-family: "Sulphur Point";
  text-decoration: line-through;
  color: var(--color-celeste-oscuro);
}


/* banner estatico */
 

 


/* newsletter */
.newsletter {
  background-color: var(--color-celeste-claro);
  text-align: center;
  padding: 20px 10%;
}
.newsletter__titulo {
  color: var(--color-blanco);
  font-family: "Sulphur Point";
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 10px;
}
.newsletter__texto {
  color: var(--color-blanco);
}
.newsletter__email {
  width: 80%;
  height: 40px;
  margin: 10px 0;
  border: none;
  padding: 10px;
  color: var(--color-gris);
  max-width: 70%;
}
.newsletter__boton-enviar {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  border: none;
  background-color: var(--color-blanco);
}

/* footer contacto */
.footer {
  background-color: var(--color-verde-claro);
  margin-top: 20px;
  padding-top: 25px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__titulo {
  color: var(--color-blanco);
  font-family: "Sulphur Point";
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 10px;
}
.footer__mail {
  color: var(--color-blanco);
  margin-bottom: 5px;
}
.footer__direccion {
  color: var(--color-blanco);
}
.footer__redes {
  display: flex;
}
.footer__link {
  background-color: var(--color-verde-oscuro);
  min-width: 60px;
  min-height: 60px;
  font-weight: bold;
  border-radius: 100%;
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer__link:hover{
  background-color: var(--color-blanco);
}
.footer__link:hover > .footer__icono{
  color: var(--color-verde-oscuro);
}
.footer__icono {
  font-size: 2em;
  color: var(--color-crema-claro);
}
.footer__nombre-redes{
  display: none;
  color: var(--color-crema-claro);
  margin-left: 10px;
  font-size: 1.2em;
}
.footer__link:hover > .footer__nombre-redes{
  color: var(--color-verde-oscuro);
}
.footer__copyright {
  font-size: 0.8em;
}


/* MEDIA QUERIES */
/* seguir manteniendo en orden */
@media (min-width: 768px){           /* TABLET */
  .header-burger{
    display: none;
  }
  .header-shipping{
    display:flex;
  }
  .header-paymentsafe{
    display:flex;
  }
  
  .header-login{
    display: flex;
  }

  .header-shoppingcart{
    display: flex;
  }
  
  .header-searchbar {
    margin-top: 0px;
    width: 33.3%;
    display: flex;
  }

  .header-searchbar input {
    width: 85%;
  }

  .cabecera-de-seccion {
    font-size: 2.5em;
  }
  .slider__articulo {
    min-width: 23%;
    margin: 0 1%;
  }
  .thumbnail__imagen {
    height: 280px;
  }
  .thumbnail__descuento{
    font-size: 1.6em;
  }
  
  .footer__link {
    border-radius: 50px;
    padding: 0 20px;
  }
  .footer__icono {
    font-size: 1.3em;
  }
  .footer__nombre-redes {
    display: block;
  }
}
@media (min-width: 1200px){         /* DESKTOP */
  .thumbnail-slider--con_botones {
    width: 90%;
  }
  .thumbnail-slider__boton {
    display: block;
  }
  .slider__articulo {
    min-width: 18%;
    margin: 0 1%;
  }
  .thumbnail__imagen {
    height: 370px;
  }
}   