<footer class="footer">
    <h2 class="footer__titulo">CONTACTANOS</h2>
    <a class="footer__mail" href="mailto:correo@gmail.com">contacto@dhindumentaria.com</a>
    <p class="footer__direccion">Direccion 123, Buenos Aires, ARG</p>

    <% if (typeof simplificarFooter == 'undefined') { %>
      <div class="footer__redes">
        <a href="https://www.facebook.com/" class="footer__link" target="_blank">
          <i class="footer__icono fa-brands fa-facebook-f"></i>
          <p class="footer__nombre-redes">FACEBOOK</p>
        </a>
        <a href="https://www.instagram.com/" class="footer__link" target="_blank">
          <i class="footer__icono fa-brands fa-instagram"></i>
          <p class="footer__nombre-redes">INSTAGRAM</p>
        </a>
        <a href="https://www.whatsapp.com/" class="footer__link" target="_blank">
          <i class="footer__icono fa-brands fa-whatsapp"></i>
          <p class="footer__nombre-redes">WHATSAPP</p>
        </a>
      </div>
    <% } %>

    <p class="footer__copyright">Copytright 2024</p>
  </footer>