<div class="thumbnail-slider--con_botones">
    <button class="thumbnail-slider__boton"><i class="fas fa-solid fa-arrow-left"></i></button>
    <div class="thumbnail-slider">
              
      <article class="slider__articulo">
        <a href="/producto/detalle" class="articulo__link">
          <div class="articulo__thumbnail">
            <img class="thumbnail__imagen" src="/images/vestido-camisero_thumbnail.png" alt="" >
            <p class="thumbnail__descuento">%50 OFF</p>
          </div>

          <h3 class="articulo__nombre">VESTIDO CAMISERO</h3>
          <p class="articulo__precio-actual">25.000$</p>
          <p class="articulo__precio-original">50.000$</p>
        </a>
      </article>
            
      <article class="slider__articulo">

        <a href="/producto/detalle" class="articulo__link">
          <div class="articulo__thumbnail">
            <img class="thumbnail__imagen" src="/images/vestido-largo_thumbnail.png" alt="" >
            <p class="thumbnail__descuento">%50 OFF</p>
          </div>

          <h3 class="articulo__nombre">VESTIDO LARGO</h3>
          <p class="articulo__precio-actual">25.000$</p>
          <p class="articulo__precio-original">50.000$</p>
        </a>
      </article>
            
      <article class="slider__articulo">

        <a href="/producto/detalle" class="articulo__link">
          <div class="articulo__thumbnail">
            <img class="thumbnail__imagen" src="/images/musculosa_thumbnail.png" alt="" >
            <p class="thumbnail__descuento">%25 OFF</p>
          </div>

          <h3 class="articulo__nombre">MUSCULOSA</h3>
          <p class="articulo__precio-actual">30.000$</p>
          <p class="articulo__precio-original">40.000$</p>
        </a>
      </article>
            
      <article class="slider__articulo">

        <a href="/producto/detalle" class="articulo__link">
          <div class="articulo__thumbnail">
            <img class="thumbnail__imagen" src="/images/top-chaleco_thumbnail.png" alt="" >
            <p class="thumbnail__descuento">%50 OFF</p>
          </div>

          <h3 class="articulo__nombre">TOP CHALECO</h3>
          <p class="articulo__precio-actual">25.000$</p>
          <p class="articulo__precio-original">50.000$</p>
        </a>
      </article>
            
      <article class="slider__articulo">
        <a href="/producto/detalle" class="articulo__link">
          <div class="articulo__thumbnail">
            <img class="thumbnail__imagen" src="/images/vestido-largo_thumbnail.png" alt="" >
            <p class="thumbnail__descuento">%50 OFF</p>
          </div>

          <h3 class="articulo__nombre">VESTIDO LARGO</h3>
          <p class="articulo__precio-actual">25.000$</p>
          <p class="articulo__precio-original">50.000$</p>
        </a>
      </article>

      <article class="slider__articulo">
        <a href="/producto/detalle" class="articulo__link">
          <div class="articulo__thumbnail">
            <img class="thumbnail__imagen" src="/images/musculosa_thumbnail.png" alt="" >
            <p class="thumbnail__descuento">%25 OFF</p>
          </div>

          <h3 class="articulo__nombre">MUSCULOSA</h3>
          <p class="articulo__precio-actual">30.000$</p>
          <p class="articulo__precio-original">40.000$</p>
        </a>
      </article>

    </div>

    <button class="thumbnail-slider__boton"><i class="fas fa-solid fa-arrow-right"></i></button>

  </div>